body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e0f7fa;
}


header {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 20px;
}


.profile {
    background-color: #ffffff;
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #ff5722;
    display: block;
    margin: 0 auto 15px auto;
}


.hobbies {
    background-color: #fff3e0;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.hobbies h2 {
    text-align: center;
    color: #e91e63;
}

.hobbies ul {
    list-style-type: circle;
}

footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 12px;
}
